<mat-card>
  <form [formGroup]="pessoaForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" [ngClass]="{'invalid': !pessoaForm.controls.name.valid}">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill" [ngClass]="{'invalid': !pessoaForm.controls.cpf.valid}">
      <mat-label>CPF</mat-label>
      <input matInput formControlName="cpf">
    </mat-form-field>

    <mat-form-field appearance="fill" [ngClass]="{'invalid': !pessoaForm.controls.birthDate.valid}">
      <mat-label>Data de Nascimento</mat-label>
      <input matInput formControlName="birthDate" type="date">
    </mat-form-field>

    <h3>Endereço</h3>

    <mat-form-field appearance="fill" [ngClass]="{'invalid': !pessoaForm.controls.street.valid}">
      <mat-label>Logradouro</mat-label>
      <input matInput formControlName="street">
    </mat-form-field>

    <mat-form-field appearance="fill" [ngClass]="{'invalid': !pessoaForm.controls.zipcode.valid}">
      <mat-label>CEP</mat-label>
      <input matInput formControlName="zipcode">
    </mat-form-field>

    <mat-form-field appearance="fill" [ngClass]="{'invalid': !pessoaForm.controls.number.valid}">
      <mat-label>Número</mat-label>
      <input matInput formControlName="number">
    </mat-form-field>

    <mat-form-field appearance="fill" [ngClass]="{'invalid': !pessoaForm.controls.city.valid}">
      <mat-label>Cidade</mat-label>
      <input matInput formControlName="city">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Cadastrar</button>
  </form>
</mat-card>

<div class="message-container" *ngIf="mensagemCadastro" [ngClass]="{ 'success': sucesso, 'error': !sucesso }">
  {{ mensagemCadastro }}
</div>
